/**COLORS
dark blue: #12111a ;
grey: #B1BAC7
navy: #191c32
lt blue: #91DEFB
orange: #b35e46
red:#BF4B54
lt orange - brown: #b3844f
green: #77a186
light navy:#474559

content-section: flex horizontally
display-content: flex vertically


/**For the dashboard below navbar section**/

.dashboard {
    overflow: hidden;
    font-family: "Mulish", sans-serif;
    width: 100%;
    min-height: 92vh;
    /**bc the navbar is 8vh**/
    margin: 0;
    background-color: #12111a;
    background-image: url("https://www.transparenttextures.com/patterns/dark-fish-skin.png");
}


/**for each of the column of project / issue**/

.display-column {
    padding: 0.5rem;
    border-color: #B1BAC7;
    border-width: 0.02rem;
}


/**For the projects title / issues title section of each column**/

.heading-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: solid #B1BAC7;
    color: #B1BAC7;
    border-width: 0.1rem;
    align-items: center;
}

.heading-wrapper h4 {
    font-size: 1.2rem;
    margin: 0;
    margin-right: 0.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.heading-wrapper p {
    margin: auto 0;
    padding-left: 1rem;
    font-size: 0.8rem;
    font-weight: normal;
}


/**Create new project form**/

.form-create {
    width: 10rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}


/**Icon settings**/

.icon-wrapper {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/**for all the icons**/

i {
    width: 1rem;
    height: 1rem;
    transform: scale(1.1, 1.1);
    margin: 0 0.5rem;
    text-align: center;
    cursor: pointer;
}


/**for small icons**/

.small-icon {
    transform: scale(0.8, 0.8);
}


/**For the create issue section**/

.form-issue-wrapper {
    width: 100%;
    position: relative;
}

.form-issue {
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
    background-color: #191c32;
    width: 100%;
}

.form-issue input,
.form-issue textarea {
    flex: 1;
    margin: 0.5rem 0;
    width: 100%;
    background: transparent;
    color: #B1BAC7;
    border: none;
    border-left: solid;
    font-size: 0.8rem;
    padding: 0.2rem;
    padding-left: 0.5rem;
}

.form-issue input:focus,
.form-issue textarea:focus {
    outline: none;
    border-color: #91DEFB;
}

input [ type="datetime-local"] {
    appearance: none !important;
}


/**BUTTONS CLASSES**/

.button-small {
    margin: 0;
    width: 5.3rem;
    height: 1.4rem;
    font-size: 0.7rem;
}

.button-medium {
    margin: 0.5rem 0 0 0;
    width: 6.5 rem;
    height: 1.7rem;
    font-size: 0.8rem;
}


/**customizing the select bar**/

.select-wrapper {
    position: relative;
    align-items: center;
    display: flex;
    width: 11rem;
    margin: 0;
}

select {
    background: transparent;
    padding: 0;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    outline: none;
    width: 100%;
    color: #B1BAC7;
    border: none;
    border-left: solid;
    appearance: none;
    transition: all 0.5s;
}

select:focus {
    outline: none;
    border-color: #91DEFB;
}

select:focus~.select-arrow {
    transform: rotate(180deg);
    color: #91DEFB;
}

option {
    background: #12111a;
    transition: all 0.5s;
    border: none;
}

.select-arrow {
    position: absolute;
    height: 100%;
    right: 0;
    width: 1rem;
    margin: 0 auto;
    pointer-events: none;
    color: #B1BAC7;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.select-arrow i {
    margin: auto;
    width: 0.5rem;
}

.date-select i {
    position: absolute;
    pointer-events: none;
    right: 0;
    padding: 0 0.5rem;
    transform: translateX(0.1rem);
    background: #191c32;
    color: #B1BAC7;
}


/**FOR EACH DISPLAYED PROJECT, ISSUE TAB**/

.display-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    transition: all 0.5s;
    border-bottom: solid 0.05rem #B1BAC7;
    color: #B1BAC7;
}

.display-content-wrapper:hover {
    background-color: #474559;
}

.display-content-wrapper h5 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.3rem 0;
    cursor: pointer;
}

.display-content-wrapper h6 {
    font-size: 0.9rem;
    font-weight: bold;
    margin: auto 0;
    margin-right: 0.2rem;
}

.display-content-wrapper p {
    font-size: 0.8rem;
    margin: 0;
    cursor: pointer;
}


/**CLASS ADDED WHEN A PROJECT IS CLICKED**/

.project-clicked {
    background-color: #91DEFB;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    background-blend-mode: difference;
    opacity: 1;
    transition: all 0.5s;
    color: #12111a;
}

.project-clicked:hover {
    background-color: #91DEFB;
}

.issue-clicked:hover {
    background-color: transparent;
}


/**A FLEXBOX WITH COLUMN FLEX**/

.display-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}


/**A FLEXBOX WITH ROW FLEX**/

.content-section {
    display: flex;
    width: 100%;
    margin: 0.3rem 0;
}


/**THE PRIORITY AND STATE DISPLAY**/


/**THE WRAPPER**/

.display-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: auto;
    text-align: center;
}


/**THE OVAL THING**/

.state-indicator {
    width: 5.5rem;
    height: 1.3rem;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 0.1rem;
    margin: 0.1rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/**TEXT INSIDE IT**/

.state-indicator p {
    color: #F8F9FD;
    padding: 0;
    margin: auto;
    text-align: center;
}


/**ICON DISPLAYED WHEN FETCHING API**/

.loader {
    margin: auto;
    margin-left: 1rem;
    border: 0.2rem solid #12111a;
    border-top: 0.2rem solid #91DEFB;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/**FOR THE FORM ON THE ISSUES SIDE*/

.form-edit {
    display: flex;
    flex-direction: column;
}

.form-edit input,
textarea {
    width: 95%;
}

.edit-input {
    color: #B1BAC7;
    width: 100%;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    border: none;
    border-left: solid #B1BAC7;
    margin: 0.5rem 0;
    background: transparent;
    outline: none;
    transition: all 0.5s;
}

.edit-input-color2 option {
    background-color: #91DEFB;
}

.edit-input::placeholder {
    color: #B1BAC7;
}

.edit-input:focus {
    border-color: #91DEFB;
}

.edit-input-color2 {
    color: #12111a;
    border-color: #12111a;
    margin: 0;
}

.edit-input-color2::placeholder {
    color: #12111a;
}

.edit-input-color2:focus {
    border-color: #B1BAC7;
}


/**BORDER DESIGN AROUND SECTIONS IN PROJECTS AND ISSUES**/

.border-design {
    width: 95%;
    height: 0.05rem;
    margin: 0;
    background-color: red;
    margin: auto 0;
}


/**ITS COLORS**/

.dkblue {
    background-color: #191c32;
}

.grey {
    background-color: #B1BAC7;
}


/**THE POPUP DISPLAY WHEN THINGS GET UGLY**/

.pop-up {
    position: fixed;
    border: solid 0.05rem #91DEFB;
    z-index: 1;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #B1BAC7;
    background-color: #191c32;
    display: flex;
    width: 18rem;
    height: 10rem;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.pop-up p {
    margin: auto;
    display: flex;
    align-items: center;
}

.pop-up button {
    margin: auto;
    font-size: 0.8rem;
    width: 4.5rem;
    height: 1.6rem;
}

@media (max-width: 580px) {
    /**MAKE THE ISSUES COLUMN BEING A SEPARATED *PAGE* **/
    .issues {
        position: absolute;
        z-index: 1;
        background: #12111a;
        min-height: 92vh;
    }
    i {
        transform: scale(1.3, 1.3);
    }
    .small-icon {
        transform: scale(1.1, 1.1);
    }
    .button-small {
        font-size: 0.8rem;
        height: 1.9rem;
        width: 6rem;
    }
    .heading-wrapper h4 {
        font-size: 1.3rem;
    }
    .display-content-wrapper h5 {
        font-size: 1.2rem;
    }
    .display-content-wrapper h6 {
        font-size: 1.1rem;
    }
    .display-content-wrapper p {
        font-size: 0.9rem;
    }
    .state-indicator {
        height: 1.8rem;
    }
    .create-deadline {
        flex-direction: column;
    }
    .edit-input,
    .edit-input-color2 {
        font-size: 0.9rem;
        height: 2rem;
        margin: 0.5rem 0;
    }
    textarea.edit-input {
        height: 6rem;
    }
}