.navbar{
    background-color:#1F1E3D;
    font-family: "Mulish";
    color:#B1BAC7;
    min-height: 8vh;
}

.navbar-brand{
    font-weight: bold;
}

.navbar-toggler-icon{
    background-color:#B1BAC7;
}

.nav-item{
    display:flex;
    align-items: center;
    padding:0 0.3rem;
    font-size: 0.8rem;
    margin:0.5rem 0;
}

.nav-item p{
   margin:auto;
   margin-left:0;
}

@media (max-width:990px){

}