.signin-screen {
    background-color: #12111a;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Mulish", sans-serif;
}

.signin-illustration {
    background-color: #12111a;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.signin-form-wrapper {
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0;
}

.signin-form {
    margin: auto;
    width: 100%;
    padding: 5rem 5rem;
    color: #B1BAC7;
    text-align: left;
}

.signin-form h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.signin-form h6 {
    margin-bottom: 2.5rem;
}

.signcomponent {
    width: 100%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    background: transparent;
    border: none;
    border-left: solid;
    border-color: #B1BAC7;
    color: #B1BAC7;
    transition: all 0.5s;
}

.error-text {
    font-size: 0.7rem;
    color: #91DEFB;
}

.signcomponent:focus {
    border-color: #91DEFB;
    outline: none;
}

input:-webkit-autofill {
    transition: background-color 1s;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.function-button {
    width: 7rem;
    height: 2rem;
    border: none;
    color: #303636;
    background: linear-gradient(to right, #ABE9F0 50%, #BCE6FE 100%);
    padding: 0.3rem 1rem;
    font-weight: bold;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.switcher-text {
    font-size: 0.8rem;
    margin: 1rem 0;
    margin-left: 0;
    margin-right: 0.8rem;
}

.click-text {
    cursor: pointer;
    color: #91DEFB;
    margin: auto;
    font-size: 0.8rem;
}

.loader-signin {
    margin: auto;
    border: 0.2rem solid #FFFFFF;
    /* Light grey */
    border-top: 0.2rem solid #1F1F1F;
    /* Blue */
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media(max-width:850px) {
    .signin-form-wrapper {
        background-color: #12111a;
        background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    }
    .signin-form {
        padding: 3rem 3rem;
    }
    .signcomponent {
        font-size: 0.9rem;
    }
    .sign-button {
        width: 7rem;
        height: 2rem;
    }
}